<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Billboard Usage System</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/orders.css" />
  </head>
  <body>
    <header>
      <nav
        class="navbar navbar-expand-lg navbar-dark fixed-top"
        style="background-color: black"
      >
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="pics/ico/icon.ico" alt="logo" width="50" />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
              <li class="nav-item"></li>
              <li class="nav-item"></li>
              <li class="nav-item"></li>
              <li class="nav-item"></li>
            </ul>
            <a href="profile.html" class="user_logo">
              <img src="pics/svg/user.svg" alt="user" />
            </a>
            <form th:action="@{/logout}" method="post">
              <input type="submit" class="tag btn btn-success text-dark" value="Sign Out"/>
            </form>
          </div>
        </div>
      </nav>
    </header>

    <div
      class="demo"
      style="background: linear-gradient(to right, #000000, #000000)"
    >
      <div class="container">
        <div class="row text-center">
          <h1 class="heading-title">PRICE PACKAGES</h1>
        </div>

        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="pricingTable">
              <div class="pricingTable-header">
                <span class="heading" style="color: green"
                  >Bulletin Billboard</span
                >
              </div>
              <div class="pricingContent">
                <ul>
                  <li><b>Type</b> Bulletin</li>
                  <li><b>Usage</b> Expressways</li>
                  <li><b>Located</b> Highways</li>
                  <span class="price-value">750<i class="fa fa-usd"></i></span>
                </ul>
              </div>
              <div class="pricingTable-sign-up">
                <a href="map.html" class="btn btn-default">Buy now</a>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="pricingTable">
              <div class="pricingTable-header">
                <span class="heading" style="color: red"
                  >Digital Billboard</span
                >
              </div>
              <div class="pricingContent">
                <ul>
                  <li><b>Type</b> Digital</li>
                  <li><b>Usage</b> In internet</li>
                  <li><b>Located</b> Web</li>
                  <span class="price-value"><i class="fa fa-usd"></i>1200</span>
                </ul>
              </div>
              <div class="pricingTable-sign-up">
                <a href="map.html" class="btn btn-default">Buy now</a>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="pricingTable">
              <div class="pricingTable-header">
                <span class="heading" style="color: blue"
                  >Mobile Billboard</span
                >
              </div>
              <div class="pricingContent">
                <ul>
                  <li><b>Type</b> Mobile</li>
                  <li><b>Usage</b> On wheels</li>
                  <li><b>Located</b> Changes</li>
                  <span class="price-value"><i class="fa fa-usd"></i>3600</span>
                </ul>
              </div>
              <div class="pricingTable-sign-up">
                <a href="map.html" class="btn btn-default">Buy now</a>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="pricingTable">
              <div class="pricingTable-header">
                <span class="heading" style="color: yellow">3D Billboards</span>
              </div>
              <div class="pricingContent">
                <ul>
                  <li><b>Type</b> 3D</li>
                  <li><b>Usage</b> Everywhere</li>
                  <li><b>Located</b> Center of the cities</li>
                  <span class="price-value"><i class="fa fa-usd"></i>5000</span>
                </ul>
              </div>
              <div class="pricingTable-sign-up">
                <a href="map.html" class="btn btn-default">Buy now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
